* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    transform: translateY(-20px);
}

.text>p {
    transform: translateY(-10px);
}

.box {
    width: 80%;
    height: 100%;
}

.imgs {
    width: 775px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs>img {
    width: 250px;
    height: 350px;
    transform: translateX(10px);
}

.img1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-left: -10px;
}

.img1 img {
    width: 250px;
    height: 170px;
}

@media (max-width:800px) {
    .imgs {
        width: 515px;
        height: 720px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img1 {
        margin: 0px;
    }

    .imgs>img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        margin: auto;
        transform: translateX(0px);
    }
}

@media (max-width:500px) {
    .text {
        margin-left: 25px;
    }

    .imgs {
        width: 300px;
        height: 1050px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img1 {
        grid-template-columns: 1fr;
    }

    .imgs>img {
        width: 250px;
        height: 300px;
        transform: translateX(0px)translateY(10px);
    }

}